<!DOCTYPE html>
<html>
	<head>
	  <title>Book Store</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	
	<body class= '<%= controller.controller_name %>'>
		<div id="banner">
			<!-- <span> -->
			<%= image_tag("logo.png") %>
				
			<!-- </span> -->
			<%= @page_title || "Pragmatic Bookshelf" %>
		</div>
		<div id="column">
			<div id="side">
				<div id="cart">
					<%= render @cart %>
				</div>
				
				<ul>
					<li><a href="facebook.com">Home</a></li>
					<li><a href="twitter.com">Question</a></li>
					<li><a href="google.com">News</a></li>
					<li><a href="youtube.com">Contact</a></li>
				</ul>
			</div>
			<div id= "main">
				<%= yield %>
			</div>
		</div>
	</body>

</html>
